In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
NVDA = yf.Ticker('NVDA')
rec = NVDA.get_recommendations()

In [4]:
print(NVDA)

yfinance.Ticker object <NVDA>

In [5]:
NVDA.info['symbol']

'NVDA'

In [6]:
rec.loc[2]

period        -2m
strongBuy      18
buy            36
hold            5
sell            0
strongSell      0
Name: 2, dtype: object

In [7]:
rec.loc[2, 'hold'] * -0.5

-2.5

In [8]:
for i in rec.index:
    print(i)

0
1
2
3

In [9]:
rec.sum(axis = 1, numeric_only= True)

0    38
1    60
2    59
3    47
dtype: int64

In [10]:
5 ** (1+1)

25

In [12]:
df = pd.DataFrame(columns = ['Amongus'])

In [16]:
data = ['I', 'Love', 'Among', 'Us']
df['Amongus'] = data.apply(lambda x: x +'mongies')

AttributeError: 'list' object has no attribute 'apply'

In [15]:
df

  Amongus
0       I
1    Love
2   Among
3      Us

In [23]:
dic = {'I': 1, 'Love':2, 'Among': 3, 'UsA': 4}
mungies = dic.keys()
mungies
type(mungies)

dict_keys

In [24]:
df['Amongus'] = mungies
df

  Amongus
0       I
1    Love
2   Among
3     UsA

In [25]:
df['Amongus']

0        I
1     Love
2    Among
3      UsA
Name: Amongus, dtype: object

In [26]:
for i in df['Amongus']:
    print(i)

I
Love
Among
UsA

In [6]:
list = ['I', 'Love', 'Among', 'Us']
print(list)
res = ""
for item in list:
    res += f" {item}"
print(res)

['I', 'Love', 'Among', 'Us']
 I Love Among Us

yfinance.Ticker object <AASDG980172>

In [5]:
for i in range(10, -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [1]:
class rocks:
    def __init__(self, name):
        self.name = name
        self.age = 0
        self.rocks = 15

In [10]:
class smoll_rock(rocks):
    def __init__(self, name):
        self.size = "smoll"
        rocks.__init__(self, name)

In [11]:
rock1 = smoll_rock("dumb rock")

In [12]:
rock1.rocks

15

In [14]:
import yfinance as yf
import pandas as pd
import pypfopt as opt

In [15]:
tickers = ['NVDA', 'AMZN', 'MSFT']
ohlc = yf.download(tickers, period = "1y")
prices = ohlc["Adj Close"].dropna(how = "all")

[*********************100%%**********************]  3 of 3 completed

In [21]:
prices

Ticker            AMZN        MSFT        NVDA
Date
2023-09-27  125.980003  310.459656   42.455154
2023-09-28  125.980003  311.303345   43.075966
2023-09-29  127.120003  313.397583   43.485844
2023-10-02  129.460007  319.402557   44.768456
2023-10-03  124.720001  311.055237   43.503834
...                ...         ...         ...
2024-09-23  193.880005  433.510010  116.260002
2024-09-24  193.960007  429.170013  120.870003
2024-09-25  192.529999  432.109985  123.510002
2024-09-26  191.160004  431.309998  124.040001
2024-09-27  188.020004  429.369995  120.570000

[253 rows x 3 columns]

In [20]:
S = opt.risk_models.CovarianceShrinkage(prices).ledoit_wolf()
mu = opt.expected_returns.capm_return(prices)
mu

Ticker
AMZN    0.678024
MSFT    0.456200
NVDA    1.415621
Name: mkt, dtype: float64

In [23]:
ef = opt.EfficientFrontier(mu, S, weight_bounds=(None, None))
ef.add_objective(opt.objective_functions.L2_reg)
ef.efficient_return(target_return=0.07, market_neutral=False)
weights = ef.clean_weights()
weights

OrderedDict([('AMZN', 0.34595), ('MSFT', 0.3649), ('NVDA', 0.28915)])

In [28]:
mung = ef.portfolio_performance(verbose = True)
mung

Expected annual return: 81.0%
Annual volatility: 26.2%
Sharpe Ratio: 3.02

(0.8103547965422075, 0.26171310683647014, 3.019928218711858)

In [29]:
mung[1]

0.26171310683647014

In [35]:
ef2 = opt.EfficientFrontier(mu, S)
ef2.max_sharpe()
weights = ef2.clean_weights()
weights

AttributeError: module 'cvxpy' has no attribute 'constraints'

In [32]:
ef2.portfolio_performance(verbose = True)

Expected annual return: 85.0%
Annual volatility: 27.4%
Sharpe Ratio: 3.03

(0.8500055862270617, 0.27406219388127356, 3.0285300371879393)