In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
NVDA = yf.Ticker('NVDA')
rec = NVDA.get_recommendations()

In [4]:
print(NVDA)

yfinance.Ticker object <NVDA>

In [5]:
NVDA.info['symbol']

'NVDA'

In [6]:
rec.loc[2]

period        -2m
strongBuy      18
buy            36
hold            5
sell            0
strongSell      0
Name: 2, dtype: object

In [7]:
rec.loc[2, 'hold'] * -0.5

-2.5

In [8]:
for i in rec.index:
    print(i)

0
1
2
3

In [9]:
rec.sum(axis = 1, numeric_only= True)

0    38
1    60
2    59
3    47
dtype: int64

In [10]:
5 ** (1+1)

25

In [12]:
df = pd.DataFrame(columns = ['Amongus'])

In [16]:
data = ['I', 'Love', 'Among', 'Us']
df['Amongus'] = data.apply(lambda x: x +'mongies')

AttributeError: 'list' object has no attribute 'apply'

In [15]:
df

  Amongus
0       I
1    Love
2   Among
3      Us

In [23]:
dic = {'I': 1, 'Love':2, 'Among': 3, 'UsA': 4}
mungies = dic.keys()
mungies
type(mungies)

dict_keys

In [24]:
df['Amongus'] = mungies
df

  Amongus
0       I
1    Love
2   Among
3     UsA